body {
  height: 300px;
  width: 300px;
  padding: 0 10px 0 10px;
  background-color: whitesmoke;
}

body h1 {
  font-weight: normal;
}

#search {
  margin: 5px 0 5px 0;
}

#parse {
  margin: 5px 0 5px 0;
}

body button.settings {
  width: 100%;
  margin: 5px 0 5px 0;
  padding: 10px 0 10px 0;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

body button.settings:hover {
  background-color: red;
  color: white;
  font-weight: 900;
}